.match-form-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  border: none;
  background-color: #c7cccf;
  margin-bottom: 200px;
}

.match-form-h1 {
    text-align: center;
    font-size: 20px;
    font-style: oblique;
    font-weight: bolder;
    padding-bottom: 10px;
    color: azure;
}

.match-form-input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.match-form-btn-container {
    display: flex;
}

.match-form-btn {
    text-align: center;
    margin: 6px;
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    background-color: #7EFE22;
}
.match-form-btn:hover {
    cursor: pointer;
    background-color: #73dc28;
}

.danger {
    background-color: #c72a07;
}

.danger:hover {
    background-color: #a83217;
}

/* Text: #F4F3FC
Background: #0F0E0E
Primary: #7EFE22
Secondary: #C7CCCF
Accent: #FD6326 */