.profile {
 display: flex;
 flex-direction: column;
 min-height: 100vh;
}


.profile-container {
    display: flex;
    align-items: center;
    height: 40%;
    width: 60%;
    padding: 200px;
    box-shadow: 0px 0px 10px rgba(223, 207, 207, 0.984);
    border-radius: 8px;
    margin: auto;
    border: 2px solid whitesmoke;
    background-color: #C7CCCF
}

.profile-img {
    position: absolute;
    top: 200px;
    right: 390px;
}

.profile-info-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}


.profile-h1 {
    margin-bottom: 20px;
    color: #F4F3FC;
}

.profile-p {
    margin: 5px 0;
    color: #F4F3FC;
}

.profile-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FD6326;
    color: #F4F3FC;
    border: none;
    border-radius: 4px;
}

.profile-btn:hover {
    background-color: #f25112;
}

.profile-ternary {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
}

