.register-container {
    margin: auto;
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid black;
}

.register-h3 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
}

.register-label {
    padding-left: 6px;
}


.register-input-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;

}

.register-input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-btn {
    width: 40%;
    padding: 10px;
    background-color: #7EFE22;
    margin-left: 120px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.register-btn:hover {
  background-color: #6de01c;
  cursor: pointer;
}
