body {
  background-color: #0f0e0e;
  min-height: 100vh;
}

.register-container {
  margin: auto;
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: none;
  background-color: #c7cccf;
  margin-bottom: 200px;
  box-shadow: 0 0 10px #353535;
}

.register-h3 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 30px;
}

.register-label {
  display: block;
  margin-bottom: 5px;
}

.register-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.register-btn {
  width: 100%;
  padding: 10px;
  background-color: #fd6326;
  /* margin-left: 20px; */
  color: #f4f3fc;
  border: none;
  border-radius: 4px;
}

.register-btn:hover {
  background-color: #f25112;
  cursor: pointer;
}

.register-p {
  padding-right: 30px;
  padding-top: 40px;
  text-decoration: underline;
}

.register-span {
  font-weight: bold;
  color: #f4f3fc;
}

.register-radio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  align-items: left;
  text-align: left;
  background-color: #a7b7c1;
  border-radius: 12px;
  margin-bottom: 24px;
  padding: 24px;
  font-family: monospace;
}

.register-h4 {
  font-size: 14px;
  padding-right: 18px;
  padding-bottom: 12px;
  font-weight: bold;
}
