@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.top-2\/5 {
  top: 40%;
}

.top-9\/10 {
  top: 90%;
}

.top-8\/10 {
  top: 80%;
}

.top-93\/100 {
  top: 93%;
}
